In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column,Integer,String

In [7]:
engine = create_engine('mysql+pymysql://hd:hd8832508@127.0.0.1:3306/demo',echo=True)

In [3]:
Base = declarative_base()

In [4]:
class User(Base):
    __tablename__ = 'testuser'
    
    id = Column(Integer,autoincrement=True,primary_key=True)
    name = Column(String(64),unique=True,nullable=False)
    age = Column(Integer)

In [8]:
Base.metadata.create_all(engine)

2017-04-21 04:14:48,857 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2017-04-21 04:14:48,865 INFO sqlalchemy.engine.base.Engine {}
2017-04-21 04:14:48,882 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2017-04-21 04:14:48,888 INFO sqlalchemy.engine.base.Engine {}
2017-04-21 04:14:48,898 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'
2017-04-21 04:14:48,900 INFO sqlalchemy.engine.base.Engine {}
2017-04-21 04:14:48,916 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2017-04-21 04:14:48,935 INFO sqlalchemy.engine.base.Engine {}
2017-04-21 04:14:48,960 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2017-04-21 04:14:48,967 INFO sqlalchemy.engine.base.Engine {}
2017-04-21 04:14:48,973 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1
2017-04-21 04:14:48,976 INFO sqlalchemy.engine.base.Engine {}
2017-04-21 04:14:48,982 INFO sqlalchemy.engine.base.Engine DESCRIBE `testuser`
2017-04-21 04:14:48,983 INFO sqlalchemy.engine.base.Engine {}
2017-04-21 04:14:48,992 INFO sqlalchemy.engine.base.Engine ROLLBACK
2017-04-21 04:14:48,996 INFO sqlalchemy.engine.base.Engine
CREATE TABLE testuser (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(64) NOT NULL,
	age INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2017-04-21 04:14:48,998 INFO sqlalchemy.engine.base.Engine {}
2017-04-21 04:14:49,020 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
from sqlalchemy.orm import sessionmaker

In [12]:
Session =sessionmaker(bind=engine)

In [13]:
session = Session()

In [14]:
user = User()

In [15]:
user.name = 'lv'
user.age = 22

In [16]:
session.add(user)

In [17]:
session.commit()

2017-04-21 04:56:48,901 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-21 04:56:48,924 INFO sqlalchemy.engine.base.Engine INSERT INTO testuser (name, age) VALUES (%(name)s, %(age)s)
2017-04-21 04:56:48,931 INFO sqlalchemy.engine.base.Engine {'name': 'lv', 'age': 22}
2017-04-21 04:56:48,946 INFO sqlalchemy.engine.base.Engine COMMIT