In [ ]:
import sqlalchemy

In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column,Integer,String
engine = create_engine('mysql+pymysql://root:hd8832508@127.0.0.1:3306/demo',echo=True)
Base = declarative_base()

In [2]:
class User(Base):
    __tablename__ = 'user'
    
    id = Column(Integer,autoincrement=True,primary_key=True)
    name = Column(String(64),unique=True,nullable=False)
    age = Column(Integer)
    
    def __str__(self):
        return 'User(id={},name={},age={})'.format(self.id,self.name,self.age)

In [14]:
Base.metadata.create_all(engine)

2017-04-19 08:32:45,031 INFO sqlalchemy.engine.base.Engine DESCRIBE `user`
2017-04-19 08:32:45,038 INFO sqlalchemy.engine.base.Engine {}
2017-04-19 08:32:45,047 INFO sqlalchemy.engine.base.Engine ROLLBACK
2017-04-19 08:32:45,075 INFO sqlalchemy.engine.base.Engine
CREATE TABLE user (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(64) NOT NULL,
	age INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2017-04-19 08:32:45,090 INFO sqlalchemy.engine.base.Engine {}
2017-04-19 08:32:45,111 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
Base.metadata.drop_all(engine)

2017-04-19 08:28:14,282 INFO sqlalchemy.engine.base.Engine DESCRIBE `user`
2017-04-19 08:28:14,306 INFO sqlalchemy.engine.base.Engine {}
2017-04-19 08:28:14,339 INFO sqlalchemy.engine.base.Engine
DROP TABLE user
2017-04-19 08:28:14,345 INFO sqlalchemy.engine.base.Engine {}
2017-04-19 08:28:14,381 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
from sqlalchemy.orm import sessionmaker

In [20]:
Session = sessionmaker(bind=engine)

In [21]:
session = Session()

In [22]:
user = User()

In [23]:
user.name = 'lv'
user.age = 18

In [24]:
print(user)

User(id=None,name=lv,age=18)

In [25]:
session.add(user)

In [26]:
session.commit()

2017-04-19 08:38:03,216 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-19 08:38:03,230 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, age) VALUES (%(name)s, %(age)s)
2017-04-19 08:38:03,233 INFO sqlalchemy.engine.base.Engine {'name': 'lv', 'age': 18}
2017-04-19 08:38:03,241 INFO sqlalchemy.engine.base.Engine COMMIT

In [27]:
print(user)

2017-04-19 08:38:49,065 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-19 08:38:49,082 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.id = %(param_1)s
2017-04-19 08:38:49,086 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
User(id=1,name=lv,age=18)