In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column,Integer,String

In [ ]:
engine = create_engine('mysql+pymysql://hd:hd8832508@127.0.0.1:3306/demo',echo=True)

In [ ]:
Base = declarative_base()

In [1]:
from sqlalchemy import create_engine
from sqlalchemy import Column,Integer,String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [2]:
Base = declarative_base()

In [3]:
class Author(Base):
    __tablename__ = 'author'
    id = Column(Integer,primary_key=True,autoincrement=True)
    name = Column(String(64),unique=True,nullable=False)
    posts = relationship('Post')
    def __repr__(self):
        return 'Author<id={}, name={}>'.format(self.id,self.name)
    def __str__(self):
        return self.__repr__()
    
class Post(Base):
    __tablename__ = 'post'
    id = Column(Integer,primary_key=True,autoincrement=True)
    title = Column(String(128),nullable=False,index=True)
    content = Column(String(8096),nullable=False)
    author_id = Column(Integer,ForeignKey('author.id'),nullable=False)
    
    author = relationship('Author')
    
    def __repr__(self):
        return 'Post<id={},title={}>'.format(self.id,self.title)
    
    def __str__(self):
        return self.__repr__()

In [4]:
engine = create_engine('mysql+pymysql://hd:hd8832508@127.0.0.1/demo',echo=True)

In [5]:
Base.metadata.create_all(engine)

2017-04-23 16:54:47,091 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2017-04-23 16:54:47,092 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:54:47,098 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2017-04-23 16:54:47,099 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:54:47,101 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'
2017-04-23 16:54:47,102 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:54:47,105 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2017-04-23 16:54:47,107 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:54:47,110 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2017-04-23 16:54:47,113 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:54:47,116 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1
2017-04-23 16:54:47,117 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:54:47,119 INFO sqlalchemy.engine.base.Engine DESCRIBE `author`
2017-04-23 16:54:47,121 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:54:47,124 INFO sqlalchemy.engine.base.Engine ROLLBACK
2017-04-23 16:54:47,125 INFO sqlalchemy.engine.base.Engine DESCRIBE `post`
2017-04-23 16:54:47,126 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:54:47,128 INFO sqlalchemy.engine.base.Engine ROLLBACK
2017-04-23 16:54:47,131 INFO sqlalchemy.engine.base.Engine
CREATE TABLE author (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(64) NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2017-04-23 16:54:47,132 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:54:47,138 INFO sqlalchemy.engine.base.Engine COMMIT
2017-04-23 16:54:47,141 INFO sqlalchemy.engine.base.Engine
CREATE TABLE post (
	id INTEGER NOT NULL AUTO_INCREMENT,
	title VARCHAR(128) NOT NULL,
	content VARCHAR(8096) NOT NULL,
	author_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(author_id) REFERENCES author (id)
)


2017-04-23 16:54:47,142 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:54:47,152 INFO sqlalchemy.engine.base.Engine COMMIT
2017-04-23 16:54:47,154 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_post_title ON post (title)
2017-04-23 16:54:47,155 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:54:47,160 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
author = Author()
author.name = 'lv'

In [7]:
from sqlalchemy.orm import sessionmaker

In [8]:
Session = sessionmaker(bind=engine)

In [9]:
session = Session()

In [10]:
session.add(author)

In [11]:
session.commit()

2017-04-23 16:55:13,607 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-23 16:55:13,610 INFO sqlalchemy.engine.base.Engine INSERT INTO author (name) VALUES (%(name)s)
2017-04-23 16:55:13,611 INFO sqlalchemy.engine.base.Engine {'name': 'lv'}
2017-04-23 16:55:13,614 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
author

2017-04-23 16:56:42,851 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-23 16:56:42,853 INFO sqlalchemy.engine.base.Engine SELECT author.id AS author_id, author.name AS author_name
FROM author
WHERE author.id = %(param_1)s
2017-04-23 16:56:42,854 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

Author<id=1, name=lv>

In [16]:
post = Post()
post.title = 'test'
post.content = 'test'
post.author = author

In [17]:
session.add(post)
session.commit()

2017-04-23 16:58:53,732 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-23 16:58:53,735 INFO sqlalchemy.engine.base.Engine SELECT author.id AS author_id, author.name AS author_name
FROM author
WHERE author.id = %(param_1)s
2017-04-23 16:58:53,736 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2017-04-23 16:58:53,739 INFO sqlalchemy.engine.base.Engine INSERT INTO post (title, content, author_id) VALUES (%(title)s, %(content)s, %(author_id)s)
2017-04-23 16:58:53,740 INFO sqlalchemy.engine.base.Engine {'title': 'test', 'content': 'test', 'author_id': 1}
2017-04-23 16:58:53,743 INFO sqlalchemy.engine.base.Engine COMMIT

In [18]:
author.posts

[Post<id=1,title=test>]

In [19]:
p = Post()
p.title = 'abc'
p.content = 'aaaaaaaaaaaaaa'
a = Author()
a.name = 'magedu'
p.author = a

In [20]:
session.add(p)
session.commit()

2017-04-23 17:03:28,242 INFO sqlalchemy.engine.base.Engine INSERT INTO author (name) VALUES (%(name)s)
2017-04-23 17:03:28,244 INFO sqlalchemy.engine.base.Engine {'name': 'magedu'}
2017-04-23 17:03:28,248 INFO sqlalchemy.engine.base.Engine INSERT INTO post (title, content, author_id) VALUES (%(title)s, %(content)s, %(author_id)s)
2017-04-23 17:03:28,250 INFO sqlalchemy.engine.base.Engine {'title': 'abc', 'content': 'aaaaaaaaaaaaaa', 'author_id': 2}
2017-04-23 17:03:28,252 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
session.query(Post,Author).filter(Post.author.name == 'lv')