In [1]:
import sqlalchemy

In [2]:
sqlalchemy.__version__

'1.1.9'

In [3]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('mysql+pymysql://root:123456@127.0.0.1:3306/demo', echo=True)

In [8]:
from sqlalchemy.ext.declarative import declarative_base

In [20]:
Base = declarative_base()  # 生成Model类的基类

In [11]:
from sqlalchemy import Column, Integer, String

In [21]:
class User(Base):  # 描述了类到表的映射
    __tablename__ = 'user'
    
    extend_existing = True
    
    id = Column(Integer, autoincrement=True, primary_key=True)
    name = Column(String(64), unique=True, nullable=False)
    age = Column(Integer)
    
    def __str__(self): # 不是必须的，生产上也不写这个方法，写这个方法只是为了方便调试
        return 'User(id={}, name={}, age={})'.format(self.id, self.name, self.age)

In [24]:
Base.metadata.create_all(engine) # 创建所有表

2017-04-09 09:06:06,067 INFO sqlalchemy.engine.base.Engine DESCRIBE `user`
2017-04-09 09:06:06,071 INFO sqlalchemy.engine.base.Engine {}
2017-04-09 09:06:06,079 INFO sqlalchemy.engine.base.Engine ROLLBACK
2017-04-09 09:06:06,083 INFO sqlalchemy.engine.base.Engine
CREATE TABLE user (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(64) NOT NULL,
	age INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2017-04-09 09:06:06,087 INFO sqlalchemy.engine.base.Engine {}
2017-04-09 09:06:06,105 INFO sqlalchemy.engine.base.Engine COMMIT

In [23]:
Base.metadata.drop_all(engine) # 删除所有表

2017-04-09 09:05:37,781 INFO sqlalchemy.engine.base.Engine DESCRIBE `user`
2017-04-09 09:05:37,785 INFO sqlalchemy.engine.base.Engine {}
2017-04-09 09:05:37,795 INFO sqlalchemy.engine.base.Engine
DROP TABLE user
2017-04-09 09:05:37,797 INFO sqlalchemy.engine.base.Engine {}
2017-04-09 09:05:37,805 INFO sqlalchemy.engine.base.Engine COMMIT

In [25]:
from sqlalchemy.orm import sessionmaker

In [26]:
Session = sessionmaker(bind=engine) # Session类是线程安全的， 只需要一个Session类

In [27]:
session = Session() # session是线程不安全的，即不同的线程里，应该使用不同的session对象

In [28]:
user = User()

In [29]:
user.name = 'comyn'
user.age = 18

In [31]:
print(user)

User(id=None, name=comyn, age=18)

In [32]:
session.add(user)

In [33]:
session.commit()

2017-04-09 09:20:17,113 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-09 09:20:17,127 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, age) VALUES (%(name)s, %(age)s)
2017-04-09 09:20:17,130 INFO sqlalchemy.engine.base.Engine {'age': 18, 'name': 'comyn'}
2017-04-09 09:20:17,133 INFO sqlalchemy.engine.base.Engine COMMIT

In [34]:
print(user)

2017-04-09 09:21:13,314 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-09 09:21:13,323 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.id = %(param_1)s
2017-04-09 09:21:13,326 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
User(id=1, name=comyn, age=18)

In [35]:
print(user)

User(id=1, name=comyn, age=18)

In [37]:
user2 = User()

In [38]:
user2.name = 'comyn'
user2.age = 16

In [39]:
session.add(user2)

In [40]:
session.commit()

2017-04-09 09:33:24,297 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, age) VALUES (%(name)s, %(age)s)
2017-04-09 09:33:24,303 INFO sqlalchemy.engine.base.Engine {'age': 16, 'name': 'comyn'}
2017-04-09 09:33:24,313 INFO sqlalchemy.engine.base.Engine ROLLBACK

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'comyn' for key 'name'") [SQL: 'INSERT INTO user (name, age) VALUES (%(name)s, %(age)s)'] [parameters: {'age': 16, 'name': 'comyn'}]

In [41]:
user3 = User()
user3.name = 'magedu'
user3.age = 5

In [42]:
session.add(user3)

In [43]:
session.commit()

InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush. To begin a new transaction with this Session, first issue Session.rollback(). Original exception was: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'comyn' for key 'name'") [SQL: 'INSERT INTO user (name, age) VALUES (%(name)s, %(age)s)'] [parameters: {'age': 16, 'name': 'comyn'}]

**一旦commit发生异常，后续的commit都无法执行**

In [44]:
session.rollback()

/home/comyn/.pyenv/versions/3.5.2/envs/magedu/lib/python3.5/site-packages/sqlalchemy/orm/session.py:507: SAWarning: Session's state has been changed on a non-active transaction - this state will be discarded.
  "Session's state has been changed on "

In [45]:
session.add(user3)

In [46]:
session.commit()

2017-04-09 09:36:55,579 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-09 09:36:55,582 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, age) VALUES (%(name)s, %(age)s)
2017-04-09 09:36:55,585 INFO sqlalchemy.engine.base.Engine {'age': 5, 'name': 'magedu'}
2017-04-09 09:36:55,589 INFO sqlalchemy.engine.base.Engine COMMIT

**所以执行commit的时候，通常使用try except语句**

```
try:
    session.commit()
except Exception as e:
    session.rollback()
    raise e
```

In [47]:
print(user)

2017-04-09 10:10:36,084 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-09 10:10:36,089 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.id = %(param_1)s
2017-04-09 10:10:36,091 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
User(id=1, name=comyn, age=18)

In [48]:
user.age = 16

In [49]:
session.add(user)
session.commit()

2017-04-09 10:11:20,590 INFO sqlalchemy.engine.base.Engine UPDATE user SET age=%(age)s WHERE user.id = %(user_id)s
2017-04-09 10:11:20,594 INFO sqlalchemy.engine.base.Engine {'user_id': 1, 'age': 16}
2017-04-09 10:11:20,598 INFO sqlalchemy.engine.base.Engine COMMIT

In [50]:
u = User()
u.id = 1
u.name = 'comyn'
u.age = 17

In [51]:
session.add(u)
session.commit() # 不能自己构建对象来做update

2017-04-09 10:12:59,251 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-09 10:12:59,254 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.id = %(param_1)s
2017-04-09 10:12:59,256 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2017-04-09 10:12:59,260 INFO sqlalchemy.engine.base.Engine ROLLBACK

FlushError: New instance <User at 0x7f0df851e9b0> with identity key (<class '__main__.User'>, (1,)) conflicts with persistent instance <User at 0x7f0df867eb70>

In [52]:
session.rollback()

In [53]:
session.delete(user3)

In [54]:
session.commit()

2017-04-09 10:15:32,185 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-09 10:15:32,192 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.id = %(param_1)s
2017-04-09 10:15:32,194 INFO sqlalchemy.engine.base.Engine {'param_1': 3}
2017-04-09 10:15:32,204 INFO sqlalchemy.engine.base.Engine DELETE FROM user WHERE user.id = %(id)s
2017-04-09 10:15:32,208 INFO sqlalchemy.engine.base.Engine {'id': 3}
2017-04-09 10:15:32,218 INFO sqlalchemy.engine.base.Engine COMMIT

In [55]:
session.delete(u) 不能自主构建对象做delete

InvalidRequestError: Instance '<User at 0x7f0df851e9b0>' is not persisted

In [56]:
q = session.query(User)

In [58]:
for u in q: # query 是可迭代对象， 当迭代query对象的时候，会执行SQL
    print(u)

2017-04-09 10:19:04,416 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-09 10:19:04,425 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
2017-04-09 10:19:04,428 INFO sqlalchemy.engine.base.Engine {}
User(id=1, name=comyn, age=16)

In [59]:
q = session.query(User)

In [63]:
q = q.filter(User.age < 18) # 增加where子句

In [64]:
for u in q:
    print(u)

2017-04-09 10:26:43,720 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-09 10:26:43,723 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age < %(age_1)s
2017-04-09 10:26:43,726 INFO sqlalchemy.engine.base.Engine {'age_1': 18}
User(id=1, name=comyn, age=16)
User(id=9, name=user_5, age=9)
User(id=11, name=user_7, age=4)
User(id=39, name=user_35, age=9)
User(id=41, name=user_37, age=5)
User(id=48, name=user_44, age=0)
User(id=71, name=user_67, age=16)
User(id=75, name=user_71, age=17)
User(id=82, name=user_78, age=3)
User(id=85, name=user_81, age=14)
User(id=88, name=user_84, age=15)
User(id=96, name=user_92, age=2)

In [65]:
for u in session.query(User).filter(User.age < 18).filter(User.age > 12): # 多个filter是and关系
    print(u)

2017-04-09 10:29:02,880 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age < %(age_1)s AND user.age > %(age_2)s
2017-04-09 10:29:02,884 INFO sqlalchemy.engine.base.Engine {'age_2': 12, 'age_1': 18}
User(id=1, name=comyn, age=16)
User(id=71, name=user_67, age=16)
User(id=75, name=user_71, age=17)
User(id=85, name=user_81, age=14)
User(id=88, name=user_84, age=15)

In [68]:
from sqlalchemy import or_, and_, not_

In [67]:
for u in session.query(User).filter(or_(User.age < 18, User.age > 70)): # or
    print(u)

2017-04-09 10:31:07,418 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age < %(age_1)s OR user.age > %(age_2)s
2017-04-09 10:31:07,420 INFO sqlalchemy.engine.base.Engine {'age_2': 70, 'age_1': 18}
User(id=1, name=comyn, age=16)
User(id=4, name=user_0, age=96)
User(id=8, name=user_4, age=77)
User(id=9, name=user_5, age=9)
User(id=10, name=user_6, age=89)
User(id=11, name=user_7, age=4)
User(id=21, name=user_17, age=93)
User(id=25, name=user_21, age=97)
User(id=29, name=user_25, age=99)
User(id=33, name=user_29, age=98)
User(id=36, name=user_32, age=88)
User(id=39, name=user_35, age=9)
User(id=40, name=user_36, age=92)
User(id=41, name=user_37, age=5)
User(id=42, name=user_38, age=96)
User(id=48, name=user_44, age=0)
User(id=49, name=user_45, age=90)
User(id=51, name=user_47, age=91)
User(id=52, name=user_48, age=78)
User(id=53, name=user_49, age=83)
User(id=54, name=user_50, age=82)
User(id=58, name=user_54, age=96)
User(id=68, name=user_64, age=94)
User(id=69, name=user_65, age=79)
User(id=70, name=user_66, age=84)
User(id=71, name=user_67, age=16)
User(id=73, name=user_69, age=88)
User(id=75, name=user_71, age=17)
User(id=76, name=user_72, age=97)
User(id=78, name=user_74, age=94)
User(id=80, name=user_76, age=99)
User(id=82, name=user_78, age=3)
User(id=83, name=user_79, age=79)
User(id=84, name=user_80, age=82)
User(id=85, name=user_81, age=14)
User(id=87, name=user_83, age=93)
User(id=88, name=user_84, age=15)
User(id=96, name=user_92, age=2)
User(id=97, name=user_93, age=97)
User(id=98, name=user_94, age=95)

In [69]:
for u in session.query(User).filter(or_(and_(User.age < 18, User.age > 12), and_(User.age > 70, User.age < 80))): # or
    print(u)

2017-04-09 10:35:02,440 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age < %(age_1)s AND user.age > %(age_2)s OR user.age > %(age_3)s AND user.age < %(age_4)s
2017-04-09 10:35:02,444 INFO sqlalchemy.engine.base.Engine {'age_1': 18, 'age_3': 70, 'age_4': 80, 'age_2': 12}
User(id=1, name=comyn, age=16)
User(id=8, name=user_4, age=77)
User(id=52, name=user_48, age=78)
User(id=69, name=user_65, age=79)
User(id=71, name=user_67, age=16)
User(id=75, name=user_71, age=17)
User(id=83, name=user_79, age=79)
User(id=85, name=user_81, age=14)
User(id=88, name=user_84, age=15)

In [71]:
for u in session.query(User).filter(User.age.in_([17, 18, 19])): # in
    print(u)

2017-04-09 10:38:12,642 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age IN (%(age_1)s, %(age_2)s, %(age_3)s)
2017-04-09 10:38:12,645 INFO sqlalchemy.engine.base.Engine {'age_2': 18, 'age_3': 19, 'age_1': 17}
User(id=38, name=user_34, age=18)
User(id=75, name=user_71, age=17)
User(id=89, name=user_85, age=18)

In [72]:
for u in session.query(User).filter(not_(User.age.in_([17, 18, 19]))): # not in
    print(u)

2017-04-09 10:38:53,980 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age NOT IN (%(age_1)s, %(age_2)s, %(age_3)s)
2017-04-09 10:38:53,990 INFO sqlalchemy.engine.base.Engine {'age_1': 17, 'age_3': 19, 'age_2': 18}
User(id=1, name=comyn, age=16)
User(id=4, name=user_0, age=96)
User(id=5, name=user_1, age=24)
User(id=6, name=user_2, age=43)
User(id=7, name=user_3, age=62)
User(id=8, name=user_4, age=77)
User(id=9, name=user_5, age=9)
User(id=10, name=user_6, age=89)
User(id=11, name=user_7, age=4)
User(id=12, name=user_8, age=37)
User(id=13, name=user_9, age=28)
User(id=14, name=user_10, age=67)
User(id=15, name=user_11, age=35)
User(id=16, name=user_12, age=53)
User(id=17, name=user_13, age=70)
User(id=18, name=user_14, age=37)
User(id=19, name=user_15, age=64)
User(id=20, name=user_16, age=58)
User(id=21, name=user_17, age=93)
User(id=22, name=user_18, age=62)
User(id=23, name=user_19, age=35)
User(id=24, name=user_20, age=42)
User(id=25, name=user_21, age=97)
User(id=26, name=user_22, age=69)
User(id=27, name=user_23, age=27)
User(id=28, name=user_24, age=44)
User(id=29, name=user_25, age=99)
User(id=30, name=user_26, age=24)
User(id=31, name=user_27, age=55)
User(id=32, name=user_28, age=29)
User(id=33, name=user_29, age=98)
User(id=34, name=user_30, age=65)
User(id=35, name=user_31, age=38)
User(id=36, name=user_32, age=88)
User(id=37, name=user_33, age=69)
User(id=39, name=user_35, age=9)
User(id=40, name=user_36, age=92)
User(id=41, name=user_37, age=5)
User(id=42, name=user_38, age=96)
User(id=43, name=user_39, age=64)
User(id=44, name=user_40, age=35)
User(id=45, name=user_41, age=53)
User(id=46, name=user_42, age=55)
User(id=47, name=user_43, age=32)
User(id=48, name=user_44, age=0)
User(id=49, name=user_45, age=90)
User(id=50, name=user_46, age=49)
User(id=51, name=user_47, age=91)
User(id=52, name=user_48, age=78)
User(id=53, name=user_49, age=83)
User(id=54, name=user_50, age=82)
User(id=55, name=user_51, age=27)
User(id=56, name=user_52, age=32)
User(id=57, name=user_53, age=61)
User(id=58, name=user_54, age=96)
User(id=59, name=user_55, age=42)
User(id=60, name=user_56, age=25)
User(id=61, name=user_57, age=60)
User(id=62, name=user_58, age=48)
User(id=63, name=user_59, age=57)
User(id=64, name=user_60, age=27)
User(id=65, name=user_61, age=38)
User(id=66, name=user_62, age=40)
User(id=67, name=user_63, age=21)
User(id=68, name=user_64, age=94)
User(id=69, name=user_65, age=79)
User(id=70, name=user_66, age=84)
User(id=71, name=user_67, age=16)
User(id=72, name=user_68, age=39)
User(id=73, name=user_69, age=88)
User(id=74, name=user_70, age=51)
User(id=76, name=user_72, age=97)
User(id=77, name=user_73, age=53)
User(id=78, name=user_74, age=94)
User(id=79, name=user_75, age=39)
User(id=80, name=user_76, age=99)
User(id=81, name=user_77, age=46)
User(id=82, name=user_78, age=3)
User(id=83, name=user_79, age=79)
User(id=84, name=user_80, age=82)
User(id=85, name=user_81, age=14)
User(id=86, name=user_82, age=54)
User(id=87, name=user_83, age=93)
User(id=88, name=user_84, age=15)
User(id=90, name=user_86, age=60)
User(id=91, name=user_87, age=34)
User(id=92, name=user_88, age=39)
User(id=93, name=user_89, age=52)
User(id=94, name=user_90, age=33)
User(id=95, name=user_91, age=40)
User(id=96, name=user_92, age=2)
User(id=97, name=user_93, age=97)
User(id=98, name=user_94, age=95)
User(id=99, name=user_95, age=49)
User(id=100, name=user_96, age=67)
User(id=101, name=user_97, age=30)
User(id=102, name=user_98, age=54)
User(id=103, name=user_99, age=33)

In [73]:
for u in session.query(User).filter(User.name.like('comyn')): # like
    print(u)

2017-04-09 10:39:36,334 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.name LIKE %(name_1)s
2017-04-09 10:39:36,336 INFO sqlalchemy.engine.base.Engine {'name_1': 'comyn'}
User(id=1, name=comyn, age=16)

In [74]:
for u in session.query(User).filter(User.age < 18).order_by(User.age): # 排序
    print(u)

2017-04-09 10:48:53,696 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age < %(age_1)s ORDER BY user.age
2017-04-09 10:48:53,698 INFO sqlalchemy.engine.base.Engine {'age_1': 18}
User(id=48, name=user_44, age=0)
User(id=96, name=user_92, age=2)
User(id=82, name=user_78, age=3)
User(id=11, name=user_7, age=4)
User(id=41, name=user_37, age=5)
User(id=9, name=user_5, age=9)
User(id=39, name=user_35, age=9)
User(id=85, name=user_81, age=14)
User(id=88, name=user_84, age=15)
User(id=71, name=user_67, age=16)
User(id=1, name=comyn, age=16)
User(id=75, name=user_71, age=17)

In [76]:
for u in session.query(User).filter(User.age < 18).order_by(User.age.desc()): # 排序 DESC
    print(u)

2017-04-09 10:50:05,185 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age < %(age_1)s ORDER BY user.age DESC
2017-04-09 10:50:05,188 INFO sqlalchemy.engine.base.Engine {'age_1': 18}
User(id=75, name=user_71, age=17)
User(id=1, name=comyn, age=16)
User(id=71, name=user_67, age=16)
User(id=88, name=user_84, age=15)
User(id=85, name=user_81, age=14)
User(id=39, name=user_35, age=9)
User(id=9, name=user_5, age=9)
User(id=41, name=user_37, age=5)
User(id=11, name=user_7, age=4)
User(id=82, name=user_78, age=3)
User(id=96, name=user_92, age=2)
User(id=48, name=user_44, age=0)

In [77]:
for u in session.query(User).filter(User.age < 18).order_by(User.age.asc()): # 排序 ASC
    print(u)

2017-04-09 10:50:36,534 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age < %(age_1)s ORDER BY user.age ASC
2017-04-09 10:50:36,539 INFO sqlalchemy.engine.base.Engine {'age_1': 18}
User(id=48, name=user_44, age=0)
User(id=96, name=user_92, age=2)
User(id=82, name=user_78, age=3)
User(id=11, name=user_7, age=4)
User(id=41, name=user_37, age=5)
User(id=9, name=user_5, age=9)
User(id=39, name=user_35, age=9)
User(id=85, name=user_81, age=14)
User(id=88, name=user_84, age=15)
User(id=71, name=user_67, age=16)
User(id=1, name=comyn, age=16)
User(id=75, name=user_71, age=17)

In [78]:
for u in session.query(User).filter(User.age < 18).order_by(User.age.asc()).order_by(User.id.asc()): # 多条件排序
    print(u)

2017-04-09 10:51:25,870 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age < %(age_1)s ORDER BY user.age ASC, user.id ASC
2017-04-09 10:51:25,879 INFO sqlalchemy.engine.base.Engine {'age_1': 18}
User(id=48, name=user_44, age=0)
User(id=96, name=user_92, age=2)
User(id=82, name=user_78, age=3)
User(id=11, name=user_7, age=4)
User(id=41, name=user_37, age=5)
User(id=9, name=user_5, age=9)
User(id=39, name=user_35, age=9)
User(id=85, name=user_81, age=14)
User(id=88, name=user_84, age=15)
User(id=1, name=comyn, age=16)
User(id=71, name=user_67, age=16)
User(id=75, name=user_71, age=17)

In [79]:
for u in session.query(User).limit(5): # 分页
    print(u)

2017-04-09 10:53:00,596 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
 LIMIT %(param_1)s
2017-04-09 10:53:00,600 INFO sqlalchemy.engine.base.Engine {'param_1': 5}
User(id=1, name=comyn, age=16)
User(id=4, name=user_0, age=96)
User(id=5, name=user_1, age=24)
User(id=6, name=user_2, age=43)
User(id=7, name=user_3, age=62)

In [80]:
for u in session.query(User).offset(5).limit(5): # 分页
    print(u)

2017-04-09 10:53:44,951 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
 LIMIT %(param_1)s, %(param_2)s
2017-04-09 10:53:44,954 INFO sqlalchemy.engine.base.Engine {'param_2': 5, 'param_1': 5}
User(id=8, name=user_4, age=77)
User(id=9, name=user_5, age=9)
User(id=10, name=user_6, age=89)
User(id=11, name=user_7, age=4)
User(id=12, name=user_8, age=37)

In [82]:
len(list(session.query(User).filter(User.age < 18))) # 显然不靠谱

2017-04-09 10:56:09,435 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age < %(age_1)s
2017-04-09 10:56:09,437 INFO sqlalchemy.engine.base.Engine {'age_1': 18}

12

In [83]:
session.query(User).filter(User.age < 18).count() # 这是靠谱的

2017-04-09 10:57:36,355 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age < %(age_1)s) AS anon_1
2017-04-09 10:57:36,358 INFO sqlalchemy.engine.base.Engine {'age_1': 18}

12

In [84]:
session.query(User).filter(User.age < 18).all() # 把结果转化为list 等价于 list(session.query(User).filter(User.age < 18))

2017-04-09 10:58:38,141 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age < %(age_1)s
2017-04-09 10:58:38,147 INFO sqlalchemy.engine.base.Engine {'age_1': 18}

[<__main__.User at 0x7f0df867eb70>,
 <__main__.User at 0x7f0df8719198>,
 <__main__.User at 0x7f0df87197b8>,
 <__main__.User at 0x7f0df8719da0>,
 <__main__.User at 0x7f0df8719748>,
 <__main__.User at 0x7f0df87190b8>,
 <__main__.User at 0x7f0df8719e48>,
 <__main__.User at 0x7f0df8719978>,
 <__main__.User at 0x7f0df87198d0>,
 <__main__.User at 0x7f0df8719b70>,
 <__main__.User at 0x7f0df8719c50>,
 <__main__.User at 0x7f0df86adef0>]

In [85]:
session.query(User).filter(User.age < 18).first() # 返回第一个对象 自动增加 limit 1

2017-04-09 10:59:26,879 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age < %(age_1)s
 LIMIT %(param_1)s
2017-04-09 10:59:26,882 INFO sqlalchemy.engine.base.Engine {'param_1': 1, 'age_1': 18}

In [86]:
session.query(User).filter(User.age < 18).limit(1).one() # 返回第一个对象

2017-04-09 11:00:10,881 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age < %(age_1)s
 LIMIT %(param_1)s
2017-04-09 11:00:10,884 INFO sqlalchemy.engine.base.Engine {'param_1': 1, 'age_1': 18}

In [87]:
session.query(User).filter(User.age < 18).one() # 如果得到多条结果会抛出异常

2017-04-09 11:00:37,584 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.age AS user_age
FROM user
WHERE user.age < %(age_1)s
2017-04-09 11:00:37,597 INFO sqlalchemy.engine.base.Engine {'age_1': 18}

MultipleResultsFound: Multiple rows were found for one()

In [88]:
session.query(User).filter(User.age < 18).delete() # delete by query

2017-04-09 11:01:29,449 INFO sqlalchemy.engine.base.Engine DELETE FROM user WHERE user.age < %(age_1)s
2017-04-09 11:01:29,452 INFO sqlalchemy.engine.base.Engine {'age_1': 18}

12

In [89]:
session.commit()

2017-04-09 11:02:31,543 INFO sqlalchemy.engine.base.Engine COMMIT

In [90]:
from sqlalchemy import func

In [94]:
session.query(func.count(User.id)).first() # 聚合函数

2017-04-09 11:11:49,221 INFO sqlalchemy.engine.base.Engine SELECT count(user.id) AS count_1
FROM user
 LIMIT %(param_1)s
2017-04-09 11:11:49,224 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

(89)

In [95]:
session.query(func.max(User.age)).first() # 聚合函数

2017-04-09 11:12:22,074 INFO sqlalchemy.engine.base.Engine SELECT max(user.age) AS max_1
FROM user
 LIMIT %(param_1)s
2017-04-09 11:12:22,084 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

(99)

In [96]:
session.query(func.avg(User.age)).first() # 聚合函数

2017-04-09 11:13:01,316 INFO sqlalchemy.engine.base.Engine SELECT avg(user.age) AS avg_1
FROM user
 LIMIT %(param_1)s
2017-04-09 11:13:01,319 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

(Decimal('58.8539'))

In [97]:
session.query(User.age, func.count(User.id)).group_by(User.age).all()

2017-04-09 11:15:27,525 INFO sqlalchemy.engine.base.Engine SELECT user.age AS user_age, count(user.id) AS count_1
FROM user GROUP BY user.age
2017-04-09 11:15:27,528 INFO sqlalchemy.engine.base.Engine {}

[(18, 2),
 (21, 1),
 (24, 2),
 (25, 1),
 (27, 3),
 (28, 1),
 (29, 1),
 (30, 1),
 (32, 2),
 (33, 2),
 (34, 1),
 (35, 3),
 (37, 2),
 (38, 2),
 (39, 3),
 (40, 2),
 (42, 2),
 (43, 1),
 (44, 1),
 (46, 1),
 (48, 1),
 (49, 2),
 (51, 1),
 (52, 1),
 (53, 3),
 (54, 2),
 (55, 2),
 (57, 1),
 (58, 1),
 (60, 2),
 (61, 1),
 (62, 2),
 (64, 2),
 (65, 1),
 (67, 2),
 (69, 2),
 (70, 1),
 (77, 1),
 (78, 1),
 (79, 2),
 (82, 2),
 (83, 1),
 (84, 1),
 (88, 2),
 (89, 1),
 (90, 1),
 (91, 1),
 (92, 1),
 (93, 2),
 (94, 2),
 (95, 1),
 (96, 3),
 (97, 3),
 (98, 1),
 (99, 2)]

In [1]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [2]:
Base = declarative_base()  # 生成Model类的基类

In [3]:
class Author(Base):
    __tablename__ = 'author'
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(64), unique=True, nullable=False)
    
    posts = relationship('Post')
    
    def __repr__(self):
        return 'Author<id={}， name={}>'.format(self.id, self.name)
    
    def __str__(self):
        return self.__repr__()

In [4]:
class Post(Base):
    __tablename__ = 'post'
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    title = Column(String(128), nullable=False, index=True)
    content = Column(String(8096), nullable=False)
    author_id = Column(Integer, ForeignKey('author.id'), nullable=False)
    
    author = relationship('Author')
    
    def __repr__(self):
        return 'Post<id={}, title={}>'.format(self.id, self.title)
    
    def __str__(self):
        return self.__repr__()

In [5]:
author = Author()
author.name = 'comyn'

In [6]:
engine = create_engine('mysql+pymysql://root:123456@127.0.0.1/demo', echo=True)

In [7]:
from sqlalchemy.orm import sessionmaker

In [8]:
Session = sessionmaker(bind=engine)

In [9]:
session = Session()

In [10]:
session.add(author)

In [11]:
session.commit()

2017-04-09 11:43:11,791 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2017-04-09 11:43:11,801 INFO sqlalchemy.engine.base.Engine {}
2017-04-09 11:43:11,807 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2017-04-09 11:43:11,812 INFO sqlalchemy.engine.base.Engine {}
2017-04-09 11:43:11,816 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'
2017-04-09 11:43:11,817 INFO sqlalchemy.engine.base.Engine {}
2017-04-09 11:43:11,824 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2017-04-09 11:43:11,827 INFO sqlalchemy.engine.base.Engine {}
2017-04-09 11:43:11,839 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2017-04-09 11:43:11,841 INFO sqlalchemy.engine.base.Engine {}
2017-04-09 11:43:11,849 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1
2017-04-09 11:43:11,874 INFO sqlalchemy.engine.base.Engine {}
2017-04-09 11:43:11,877 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-09 11:43:11,881 INFO sqlalchemy.engine.base.Engine INSERT INTO author (name) VALUES (%(name)s)
2017-04-09 11:43:11,882 INFO sqlalchemy.engine.base.Engine {'name': 'comyn'}
2017-04-09 11:43:11,885 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
author

2017-04-09 11:43:24,875 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-09 11:43:24,878 INFO sqlalchemy.engine.base.Engine SELECT author.id AS author_id, author.name AS author_name
FROM author
WHERE author.id = %(param_1)s
2017-04-09 11:43:24,880 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

Author<id=1， name=comyn>

In [13]:
post = Post()
post.title = 'test'
post.content = 'test test'
post.author = author

In [14]:
session.add(post)
session.commit()

2017-04-09 11:44:44,874 INFO sqlalchemy.engine.base.Engine INSERT INTO post (title, content, author_id) VALUES (%(title)s, %(content)s, %(author_id)s)
2017-04-09 11:44:44,876 INFO sqlalchemy.engine.base.Engine {'title': 'test', 'author_id': 1, 'content': 'test test'}
2017-04-09 11:44:44,881 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
author.posts

2017-04-09 11:45:06,107 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-04-09 11:45:06,112 INFO sqlalchemy.engine.base.Engine SELECT author.id AS author_id, author.name AS author_name
FROM author
WHERE author.id = %(param_1)s
2017-04-09 11:45:06,117 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2017-04-09 11:45:06,125 INFO sqlalchemy.engine.base.Engine SELECT post.id AS post_id, post.title AS post_title, post.content AS post_content, post.author_id AS post_author_id
FROM post
WHERE %(param_1)s = post.author_id
2017-04-09 11:45:06,126 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

[Post<id=1, title=test>]

In [16]:
p = Post()
p.title = 'abc'
p.content = 'bcde'

a = Author()
a.name = 'magedu'

p.author = a

In [17]:
session.add(p)
session.commit()

2017-04-09 11:46:49,393 INFO sqlalchemy.engine.base.Engine INSERT INTO author (name) VALUES (%(name)s)
2017-04-09 11:46:49,396 INFO sqlalchemy.engine.base.Engine {'name': 'magedu'}
2017-04-09 11:46:49,400 INFO sqlalchemy.engine.base.Engine INSERT INTO post (title, content, author_id) VALUES (%(title)s, %(content)s, %(author_id)s)
2017-04-09 11:46:49,407 INFO sqlalchemy.engine.base.Engine {'title': 'abc', 'author_id': 2, 'content': 'bcde'}
2017-04-09 11:46:49,411 INFO sqlalchemy.engine.base.Engine COMMIT

In [25]:
session.query(Post, Author).filter(Post.author_id == Author.id).filter(Author.name == 'comyn').all() # 普通联合查询

2017-04-09 11:53:40,648 INFO sqlalchemy.engine.base.Engine SELECT post.id AS post_id, post.title AS post_title, post.content AS post_content, post.author_id AS post_author_id, author.id AS author_id, author.name AS author_name
FROM post, author
WHERE post.author_id = author.id AND author.name = %(name_1)s
2017-04-09 11:53:40,653 INFO sqlalchemy.engine.base.Engine {'name_1': 'comyn'}

[(Post<id=1, title=test>, Author<id=1， name=comyn>)]

In [27]:
session.query(Post).join(Author, Post.author_id == Author.id).filter(Author.name == 'comyn').all()

2017-04-09 11:55:47,851 INFO sqlalchemy.engine.base.Engine SELECT post.id AS post_id, post.title AS post_title, post.content AS post_content, post.author_id AS post_author_id
FROM post INNER JOIN author ON post.author_id = author.id
WHERE author.name = %(name_1)s
2017-04-09 11:55:47,853 INFO sqlalchemy.engine.base.Engine {'name_1': 'comyn'}

[Post<id=1, title=test>]