In [1]:
import pymysql

In [3]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='123456', database='demo', port=3306) # 创建连接

In [4]:
cur = conn.cursor() # 获取游标

In [5]:
cur.execute('''INSERT INTO `user`(`name`, `age`) VALUE ('comyn', 18)''') # 执行sql

1

In [6]:
conn.commit() # 提交事务

非查询性请求的四个步骤：

1. 创建连接
* 获取游标
* 执行sql
* 提交事务

In [7]:
cur.execute('''INSERT INTO `user`(`name`, `age`) VALUE ('magedu', 10)''')

1

In [8]:
conn.commit()

In [9]:
cur.close()

In [10]:
cur.execute('''INSERT INTO `user`(`name`, `age`) VALUE ('python', 10)''')

ProgrammingError: Cursor closed

游标对象在close之前， 可以反复使用

In [11]:
cur = conn.cursor()

In [12]:
cur.execute('''SELECT * FROM `user` WHERE `age` <= 18 ''') # 执行sql

2

In [13]:
cur.fetchall() # fetch数据  返回所有数据

((2, 'comyn', 18), (3, 'magedu', 10))

In [22]:
cur.execute('''SELECT * FROM `user` WHERE `age` <= 18 ''') # 执行sql

2

In [24]:
cur.fetchmany(1) # 指定返回数据的行数

((3, 'magedu', 10),)

In [23]:
cur.fetchone() # 返回一行数据

(2, 'comyn', 18)

* fetchall  返回行的元组
* fetchmany 返回行的元组， 可以指定返回前N行 相当于 fetchall[:N]
* fetchone  返回首行， 相当于fetchall[0]

每行数据也是一个元组， 元组的内容由sql决定

In [25]:
cur.execute('''SELECT `name`, `age` FROM `user` WHERE `age` <= 18 ''') # 执行sql

2

In [26]:
cur.fetchone()

('comyn', 18)

In [27]:
cur.execute('''SELECT `age`, `name` FROM `user` WHERE `age` <= 18 ''') # 执行sql

2

In [28]:
cur.fetchone()

(18, 'comyn')

fetchall, fetchmany, fetchone 的差异是在客户端决定的， 无论执行那个， 数据都会全部发送到客户端， 如果要限制返回数据的行数，应该在sql里限制，而不是通过fetch方法

In [29]:
cur.execute('''DESC `user`''')

3

In [30]:
cur.fetchall()

(('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(64)', 'NO', 'UNI', None, ''),
 ('age', 'int(11)', 'YES', '', None, ''))

**如何让返回数据带列名(返回字典)**

In [31]:
cur.close()

In [32]:
from pymysql.cursors import DictCursor

In [33]:
cur = conn.cursor(cursor=DictCursor) # 当指定cursorclass 为 DictCursor的时候， 返回的每行数据都是一个字典

In [38]:
cur.execute('SELECT * FROM `user` FOR UPDATE')

4

In [39]:
cur.fetchall()

[{'age': 18, 'id': 2, 'name': 'comyn'},
 {'age': 10, 'id': 3, 'name': 'magedu'},
 {'age': 18, 'id': 4, 'name': 'python'},
 {'age': 18, 'id': 5, 'name': 'java'}]

In [47]:
def get_juveniles(age=18):
    query = '''SELECT * FROM `user` WHERE `age` < {} FOR UPDATE'''.format(age)
    print(query)
    cur.execute(query)
    return cur.fetchall()

In [48]:
get_juveniles()

SELECT * FROM `user` WHERE `age` < 18 FOR UPDATE

[{'age': 10, 'id': 3, 'name': 'magedu'}]

In [49]:
get_juveniles('18 OR 1=1') # 最基础的SQL注入

SELECT * FROM `user` WHERE `age` < 18 OR 1=1 FOR UPDATE

[{'age': 18, 'id': 2, 'name': 'comyn'},
 {'age': 10, 'id': 3, 'name': 'magedu'},
 {'age': 18, 'id': 4, 'name': 'python'},
 {'age': 18, 'id': 5, 'name': 'java'}]

In [56]:
def get_juveniles(age=18):
    query = '''SELECT * FROM `user` WHERE `age` < %s FOR UPDATE''' # 不用管数据库定义的是什么类型，统一使用 %s
    cur.execute(query, (age, ))  # 参数化查询
    return cur.fetchall()

In [57]:
get_juveniles()

[{'age': 10, 'id': 3, 'name': 'magedu'}]

In [59]:
get_juveniles('18 OR 1=1')

/home/comyn/.pyenv/versions/3.5.2/envs/magedu/lib/python3.5/site-packages/pymysql/cursors.py:323: Warning: (1292, "Truncated incorrect DOUBLE value: '18 OR 1=1'")
  self._do_get_result()

[{'age': 10, 'id': 3, 'name': 'magedu'}]

In [61]:
def get_juveniles(age=18):
    query = '''SELECT * FROM `user` WHERE `age` < %(age)s FOR UPDATE''' # 不用管数据库定义的是什么类型，统一使用 %s
    cur.execute(query, {'age': age})  # 参数化查询
    return cur.fetchall()

In [63]:
get_juveniles('18 OR 1=1')

/home/comyn/.pyenv/versions/3.5.2/envs/magedu/lib/python3.5/site-packages/pymysql/cursors.py:323: Warning: (1292, "Truncated incorrect DOUBLE value: '18 OR 1=1'")
  self._do_get_result()

[{'age': 10, 'id': 3, 'name': 'magedu'}]

参数化查询最大的优势在于避免了SQL注入

参数化查询能提高查询效率

所以应该总是使用参数化查询

In [65]:
with cur: # 自动关闭 游标
    cur.execute('''UPDATE `user` SET `age`=16 WHERE `name`='comyn' ''')

In [69]:
with conn as cur: # 自动提交事务 并不关闭游标
    cur.execute('''UPDATE `user` SET `age`=14 WHERE `name`='comyn' ''')

In [72]:
with conn as cur: # 自动提交事务
    with cur: # 自动关闭游标
        cur.execute('''UPDATE `user` SET `age`=16 WHERE `name`='comyn' ''')

In [74]:
conn.ping()

In [75]:
help(pymysql.connect)

Help on function Connect in module pymysql:

Connect(*args, **kwargs)
    Establish a connection to the MySQL database. Accepts several
    arguments:

    host: Host where the database server is located
    user: Username to log in as
    password: Password to use.
    database: Database to use, None to not use a particular one.
    port: MySQL port to use, default is usually OK. (default: 3306)
    bind_address: When the client has multiple network interfaces, specify
        the interface from which to connect to the host. Argument can be
        a hostname or an IP address.
    unix_socket: Optionally, you can use a unix socket rather than TCP/IP.
    charset: Charset you want to use.
    sql_mode: Default SQL_MODE to use.
    read_default_file:
        Specifies  my.cnf file to read these parameters from under the [client] section.
    conv:
        Conversion dictionary to use instead of the default one.
        This is used to provide custom marshalling and unmarshaling of types.
        See converters.
    use_unicode:
        Whether or not to default to unicode strings.
        This option defaults to true for Py3k.
    client_flag: Custom flags to send to MySQL. Find potential values in constants.CLIENT.
    cursorclass: Custom cursor class to use.
    init_command: Initial SQL statement to run when connection is established.
    connect_timeout: Timeout before throwing an exception when connecting.
        (default: 10, min: 1, max: 31536000)
    ssl:
        A dict of arguments similar to mysql_ssl_set()'s parameters.
        For now the capath and cipher arguments are not supported.
    read_default_group: Group to read from in the configuration file.
    compress; Not supported
    named_pipe: Not supported
    autocommit: Autocommit mode. None means use server default. (default: False)
    local_infile: Boolean to enable the use of LOAD DATA LOCAL command. (default: False)
    max_allowed_packet: Max size of packet sent to server in bytes. (default: 16MB)
        Only used to limit size of "LOAD LOCAL INFILE" data packet smaller than default (16KB).
    defer_connect: Don't explicitly connect on contruction - wait for connect call.
        (default: False)
    auth_plugin_map: A dict of plugin names to a class that processes that plugin.
        The class will take the Connection object as the argument to the constructor.
        The class needs an authenticate method taking an authentication packet as
        an argument.  For the dialog plugin, a prompt(echo, prompt) method can be used
        (if no authenticate method) for returning a string from the user. (experimental)
    db: Alias for database. (for compatibility to MySQLdb)
    passwd: Alias for password. (for compatibility to MySQLdb)

In [76]:
conn.close()

In [77]:
conn.ping()

In [82]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='123456', database='demo', port=3306, cursorclass=DictCursor)

In [83]:
with conn as cur:
    with cur:
        cur.execute('''SELECT * FROM `user`''')
        print(cur.fetchone())

{'age': 16, 'name': 'comyn', 'id': 2}

In [84]:
packet = conn.ping()

In [89]:
conn.close()

In [92]:
from pymysql.cursors import DictCursor

In [105]:
from queue import Queue
import threading

In [145]:
class ConnectionPool:
    def __init__(self, size, *args, **kwargs):
        self._pool = Queue(size)
        self._conns = []
        self.args = args
        self.kwargs = kwargs
        for x in range(size):
            self._conns.append(self._connect())
            self._pool.put(x)
        self.local = threading.local()
    
    def _connect(self):
        return pymysql.connect(*self.args, **self.kwargs)
    
    def _close(self, conn):
        conn.close()
        
    def __enter__(self):
        try:
            return self.local.cursor
        except AttributeError:
            self.local.idx, self.local.cursor = self._get().cursor()
            return self.local.cursor
    
    def __exit__(self, *args):
        self.local.cursor.connection.commit()
        self._return_resource(self.local.idx)
        self.local.cursor.close()
        del self.local.cursor
        del self.local.idx
    
    def close(self):
        for conn in self._conns:
            conn.close()
    
    def _get(self):
        idx = self._pool.get()
        return idx, self._conns[idx]
    
    def _return_resource(self, idx):
        self._pool.put(idx)

In [146]:
cp = ConnectionPool(10, host='127.0.0.1', user='root', password='123456', database='demo', port=3306)

In [102]:
conn = cp.get()

In [103]:
with conn as cur:
    with cur:
        cur.execute('SELECT 1')

In [104]:
cp.return_resource(conn)

In [140]:
with cp as cur:
    cur.execute('SELECT 1')

In [147]:
cp.close()

In [199]:
class Field:
    def __init__(self, column=None, primary_key=False, unique=False, index=False, nullable=True, default=None):
        self.name = None
        self.column = column
        self.primary_key = primary_key
        self.unique = unique
        self.index = index
        self.nullable = nullable
        self.default = default
    
    def validate(self, value):
        raise NotImplemented
    
    def __get__(self, instance, cls):
        if instance is None:
            return self
        return instance.__dict__.get(self.name)
    
    def __set__(self, instance, value):
        self.validate(value)
        instance.__dict__[self.name] = value

In [200]:
class IntField(Field):
    def __init__(self, column=None, primary_key=False, unique=False, index=False, nullable=True, default=None, auto_increasement=False):
        super().__init__(column, primary_key, unique, index, nullable, default)
        self.auto_increasement = auto_increasement
    
    def validate(self, value):
        if value is None:
            return
        if not isinstance(value, int):
            raise TypeError('{}<{}> must be int but {}'.format(self.name, self.column, type(value)))

In [201]:
class StringField(Field):
    def __init__(self, column=None, primary_key=False, unique=False, index=False, nullable=True, default=None, length=45):
        super().__init__(column, primary_key, unique, index, nullable, default)
        self.length = length
    
    def validate(self, value):
        if value is None:
            return
        if not isinstance(value, str):
            raise TypeError('{}<{}> must be str but {}'.format(self.name, self.column, type(value)))
        if len(value) >= self.length:
            raise ValueError('{}<{}> to long'.format(self.name, self.column))

In [174]:
class User:
    id = IntField(name='id', column='id', primary_key=True, auto_increasement=True)
    name = StringField(name='name', column='name', nullable=False, unique=True, length=64)
    age = IntField(name='age', column='age')
    
    def __init__(self, id, name, age):
        self.id = id
        self.name = name
        self.age = age
    
    def save(self, session):
        query = '''INSERT INTO `user`(`id`, `name`, `age`) VALUE(%s, %s, %s)'''
        with session:
            session.execute(query, self.id, self.name, self.age)

In [170]:
class Session:
    def __init__(self, conn):
        self.conn = conn
        self.cur = None
    
    def __enter__(self):
        self.cur = self.conn.cursor()
        return self
    
    def __exit__(self, *args):
        self.cur.close()
        self.conn.commit()
    
    def execute(query, *args):
        self.cur.execute(query, args)

In [175]:
user = User(10, 'comyn', 18)

In [178]:
user.__class__.__dict__

mappingproxy({'__dict__': <attribute '__dict__' of 'User' objects>,
              '__doc__': None,
              '__init__': <function __main__.User.__init__>,
              '__module__': '__main__',
              '__weakref__': <attribute '__weakref__' of 'User' objects>,
              'age': <__main__.IntField at 0x7f1a1715d0f0>,
              'id': <__main__.IntField at 0x7f1a1715d0b8>,
              'name': <__main__.StringField at 0x7f1a1715d4e0>,
              'save': <function __main__.User.save>})

In [196]:
class Model:
    def save(self):
        fields = {}
        for name, field in self.__class__.__dict__.items():
            if isinstance(field, Field):
                fields[name] = field
        keys = []
        values = []
        for name, value in self.__dict__.items():
            if name in fields.keys():
                keys.append('`{}`'.format(name))
                values.append(value)
        query = '''INSERT INTO `{}` ({}) VALUE ({})'''.format(self.__class__.__table__, ','.join(keys), ','.join(['%s'] * len(keys)))
        print(query)
        # cur.execute(query, values)

In [193]:
class User(Model):
    __table__ = 'user'
    
    id = IntField(name='id', column='id', primary_key=True, auto_increasement=True)
    name = StringField(name='name', column='name', nullable=False, unique=True, length=64)
    age = IntField(name='age', column='age')
    
    def __init__(self, id, name, age):
        self.id = id
        self.name = name
        self.age = age

In [194]:
user = User(10, 'comyn', 18)

In [195]:
user.save()

INSERT INTO `user` (`id`,`age`,`name`) VALUE (%s,%s,%s)

In [197]:
class ModelMeta(type):
    def __new__(cls, name, bases, attrs):
        if '__table__' not in attrs.keys():
            attrs['__table__'] = name
        mapping = {}
        primary_key = []
        for k, v in attrs.items():
            if isinstance(v, Field):
                v.name = k
                if v.column is None:
                    v.column = k
                mapping[k] = v
                if v.primary_key:
                    primary_key.append(v)
        attrs['__mapping__'] = mapping
        attrs['__primary_key__'] = primary_key
        return super().__new__(cls, name, bases, attrs)

In [198]:
class Model(metaclass=ModelMeta):
    pass

In [202]:
class User(Model):
    __table__ = 'user'
    
    id = IntField(primary_key=True, auto_increasement=True)
    name = StringField(nullable=False, unique=True, length=64)
    age = IntField()

In [203]:
User.__mapping__

{'age': <__main__.IntField at 0x7f1a1714fd68>,
 'id': <__main__.IntField at 0x7f1a1714f908>,
 'name': <__main__.StringField at 0x7f1a1714f3c8>}

In [206]:
User.__primary_key__[0].name

'id'

In [ ]:
class Engine:
    def __init__(self, *args, **kwargs):
        '''建立连接'''
        self.conn = pymysql.connect(*args, **kwargs)
        
    def _get_mapping(instance):
        mapping = {}
        for k, v in instance.__dict__.items():
            if k in instance.__class__.__mapping__.keys():
                mapping[instance.__class__.__mapping__[k].column] = v
        return mapping
    
    
    def save(self, instance: Model):
        '''save instance to db'''
        mapping = self._get_mapping(instance)
        query = 'INSERT INTO `{}`({}) VALUE ({})'.format(instance.__class__.__table__, ','.join(mapping.keys()), ','.join(['%s'] * len(mapping)))
        with self.conn as cur:
            with cur:
                cur.execute(query, mapping.values())
    
    def get(self, cls, key):
        '''select by primary key要求Model必须有唯一的主键，否则抛出异常'''
        if len(cls.__primary_key__) != 1:
            raise Exception('primary key error')
        query = '''SELECT * FROM `{}` WHERE `{}`=%s '''.format(cls.__table__, cls.__primary_key__[0].column)
        with self.conn as cur:
            with cur:
                cur.execute(query, (key, ))
                rs = cur.fetchone()
                instance = cls()
                for k, v in cls.__mapping__.items():
                    if v.column in rs.keys():
                        setattr(instance, k, rs[v.column])
                return instance
    
    def update(self, instance):
        '''根据主键更新'''
        mapping = self._get_mapping(instance)
        columns = [ '`{}`=%s'.format(k) for k in  mapping.keys()]
        where = ['`{}`=%s'.format(it.column) for it in instance.__class__.__primary_key__]
        query = '''UPDATE `{}` SET {} WHERE {} '''.format(instance.__class__.__table__, ','.join(columns), ','.join(where))
        params = cloumns.values() + [getattr(instance, it.name) for it in instance.__class__.__primary_key__]
        with self.conn as cur:
            with cur:
                cur.execute(query, params)
    
    def select(self, cls, where=None):
        '''暂时不实现'''
        pass
    
    def delete(self, instance):
        '''删除'''
        pass
    
    def close(self):
        pass

如何学习一个ORM框架

1. 看Model如何描述表
* 方法调用如何转化为SQL